.gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Environment
.env
venv/
*.env

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#files
scripts/
Nan_files/